:root {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Drawer */
  --p-drawer-background: var(--color-primary);
  --p-drawer-content-padding: 2rem;
  --p-drawer-footer-padding: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

p {
  color: var(--color-text);
  text-align: justify;
}

.h1__title {
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-blue);
  margin: 0;
}

.h3__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.title__container {
  width: 100%;
  text-align: left;
  padding: 2rem;
  margin-bottom: 0;
}

button {
  background-color: var(--color-secondary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--color-blue);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-blue);
  color: var(--color-background);
}

/* Color Bar */
.color-bar {
  display: flex;
  height: 6px;
  width: 100%;
}

.color-bar__section {
  flex-grow: 1;
}

.color-bar__section--orange {
  background-color: var(--color-accent-orange);
}

.color-bar__section--yellow {
  background-color: var(--color-accent-yellow);
}

.color-bar__section--light-yellow {
  background-color: var(--color-accent-light-yellow);
}

.color-bar__section--dark-blue {
  background-color: #0a2463;
}

.color-bar__section--light {
  background-color: var(--color-light);
}

.color-bar__section--teal {
  background-color: var(--color-secondary);
}

.color-bar__section--blue {
  background-color: var(--color-primary);
}

/* Changing specific title color */
.go--orange {
  color: var(--color-accent-orange);
}

.go--yellow {
  color: var(--color-accent-yellow);
}

.go--blue {
  color: var(--color-blue);
}



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
